<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-card-header>
        <ion-title>Agregar nuevo recordatorio</ion-title>
      </ion-card-header>
    </ion-toolbar>
  </ion-header>
  <div>
    <div class="container-image">
      <img src="assets/images/midireminder.png" alt="logo" height="200px" />
    </div>
  </div>
  <ion-card-content [formGroup]="addNotificationForm">
    <ion-item>
      <ion-input type="text" labelPlacement="floating" formControlName="name">
        <ion-label slot="label">Recordar tomar</ion-label>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        labelPlacement="floating"
        formControlName="description"
      >
        <ion-label slot="label">Para (opcional)</ion-label>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-select
        labelPlacement="floating"
        formControlName="reminderBy"
        (ionChange)="changeReminderBy()"
        label="Recordar por"
      >
        @for (reminder of reminders; track $index) {
        <ion-select-option [value]="reminder.value"
          >{{ reminder.name
          }}{{ isNumberFrecuencyGreaterThanOne ? "s" : "" }}</ion-select-option
        >
        }
      </ion-select>
    </ion-item>
    @if( ['hour'].includes(addNotificationForm.get('reminderBy')?.value ?? '')
    ){
    <ion-item>
      <ion-input
        type="number"
        labelPlacement="floating"
        formControlName="numberFrecuency"
        (ionChange)="isNumberFrecuencyGreaterThanOneChanged()"
      >
        <ion-label slot="label">Cada</ion-label>
      </ion-input>
    </ion-item>
    } @if (showDayOfWeek) {
    <ion-item>
      <ion-radio-group formControlName="dayOfWeek" multiple="false" >
        @for (day of daysOfWeek; track $index) {
        <ion-radio aria-label="Custom checkbox" [value]="day.value">{{
          day.name
        }}</ion-radio>
        }
      </ion-radio-group>
    </ion-item>
    } @if( !['hour'].includes(addNotificationForm.get('reminderBy')?.value ??
    '') ){
    <ion-item>
      @if(presentation === 'time'){
      <ion-label>A las</ion-label>
      }
      <ion-datetime
        [presentation]="presentation"
        formControlName="date"
        title="Selecciona la fecha"
        [showDefaultTimeLabel]="false"
        titleSelectedDatesFormatter="HH:mm"
        [preferWheel]="false"
        (ionChange)="changeDate($event)"
      >
      </ion-datetime>
    </ion-item>
    }

    <ion-item>
      <ion-input
        type="number"
        labelPlacement="floating"
        formControlName="quantity"
        (ionChange)="isQuantityGreaterThanOneChanged()"
      >
        <ion-label slot="label">Cantidad</ion-label>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-select labelPlacement="floating" formControlName="measure">
        @for (measure of measures; track $index) {
        <ion-select-option [value]="measure">{{
          `${measure.name}${isQuantityGreaterThanOne ? 's' : ''}`
        }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-button expand="full" (click)="onSubmit()" 
      >Guardar</ion-button
    >
  </ion-card-content>
  @if(isSubmitting){
  <ion-spinner
    name="crescent"
    message="'Guardando...'"
    [duration]="3000"
    [color]="toastColor"
    position="top"
    (didDismiss)="showToast = false"
  />
  } @if(showToast){
  <ion-toast
    [isOpen]="showToast"
    [message]="toastMessage"
    [duration]="3000"
    [color]="toastColor"
    (didDismiss)="showToast = false"
  />
  }
</ion-content>
